<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.uxunchina.emall.db.entity"/>
	</typeAliases>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl" />
				<property name="username" value="emall" />
				<property name="password" value="emall" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="com.uxunchina.emall.db.mapper"/>
	</mappers>
	
</configuration>